body {
  font-family: "Alan Sans", sans-serif;
  background-color: #f5f4fa;
}

.container {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

.search-bar {
}
.search-bar-input {
  background-color: #f5f4fa;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px 18px;
  font-size: 15px;
}
.search-bar-button {
  background-color: #ef94cf;
  padding: 15px 18px;
  border: none;
  border-radius: 8px;
  color: #ffff;
  margin-left: 4px;
  font-size: 15px;
}
